# ETL Project

## Dataset 1

## Dataset 2
This dataset was downloaded from https://www.kaggle.com/noriuk/us-education-datasets-unification-project/ 

## Dataset 3
This was

In [90]:
import pandas as pd
import numpy as np

In [93]:
file="./Resources/states_all.csv"
school_data=pd.read_csv(file,index_col=0)

In [94]:
school_data.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
PRIMARY_KEY,,,,,,,,,,,,,,,,,,,,,
1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

In [13]:
trimmed_school=school_data.loc[school_data["YEAR"]>=2010]
trimmed_school

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
922,2010_ALABAMA,ALABAMA,2010,748889.0,7281058.0,1134111.0,3800128.0,2346819.0,7647571.0,3900492.0,...,59117.0,57992.0,49719.0,467768.0,221940.0,697887.0,NaN,NaN,NaN,NaN
923,2010_ALASKA,ALASKA,2010,131265.0,2230338.0,366970.0,1356673.0,506695.0,2371251.0,1151630.0,...,9917.0,9622.0,9643.0,78880.0,40114.0,121984.0,NaN,NaN,NaN,NaN
924,2010_ARIZONA,ARIZONA,2010,963517.0,8828122.0,1579806.0,3139588.0,4108728.0,8812967.0,4223152.0,...,82862.0,80636.0,81326.0,660440.0,319747.0,988741.0,NaN,NaN,NaN,NaN
925,2010_ARKANSAS,ARKANSAS,2010,474897.0,5069272.0,787738.0,3677112.0,604422.0,5520387.0,2521528.0,...,36873.0,36237.0,30330.0,293680.0,136156.0,443895.0,NaN,NaN,NaN,NaN
926,2010_CALIFORNIA,CALIFORNIA,2010,6213958.0,67356719.0,9715980.0,34173911.0,23466828.0,71227111.0,34657275.0,...,463691.0,476639.0,492545.0,3749960.0,1993538.0,5815902.0,NaN,NaN,NaN,NaN
927,2010_COLORADO,COLORADO,2010,825242.0,8793676.0,714230.0,3817875.0,4261571.0,8914338.0,4232076.0,...,63819.0,59684.0,60899.0,505302.0,242239.0,778134.0,NaN,NaN,NaN,NaN
928,2010_CONNECTICUT,CONNECTICUT,2010,534800.0,9726922.0,818573.0,3238401.0,5669948.0,9542108.0,5242817.0,...,41155.0,42346.0,41381.0,331884.0,173071.0,520876.0,NaN,NaN,NaN,NaN
929,2010_DELAWARE,DELAWARE,2010,117628.0,1733458.0,180584.0,992422.0,560452.0,1758988.0,901200.0,...,9797.0,9504.0,8464.0,78843.0,39124.0,119593.0,NaN,NaN,NaN,NaN
930,2010_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,2010,43866.0,1195934.0,80585.0,0.0,1115349.0,1290048.0,526469.0,...,3397.0,2992.0,2203.0,27264.0,9977.0,NaN,NaN,NaN,NaN,NaN
931,2010_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,2010,43866.0,1195934.0,80585.0,0.0,1115349.0,1290048.0,526469.0,...,4877.0,4307.0,3407.0,37867.0,17632.0,65080.0,NaN,NaN,NaN,NaN
932,2010_FLORIDA,FLORIDA,2010,2627390.0,26231141.0,4200103.0,8216582.0,13814456.0,27267009.0,13869921.0,...,200682.0,201676.0,178315.0,1608622.0,784849.0,2446250.0,NaN,NaN,NaN,NaN
933,2010_GEORGIA,GEORGIA,2010,1660643.0,17839851.0,2598486.0,6739406.0,8501959.0,17834488.0,9841382.0,...,131326.0,123794.0,100392.0,1027655.0,474588.0,1545059.0,NaN,NaN,NaN,NaN
934,2010_HAWAII,HAWAII,2010,180196.0,2564856.0,382400.0,2093300.0,89156.0,2215458.0,1321657.0,...,13457.0,12567.0,10818.0,109990.0,51975.0,163358.0,NaN,NaN,NaN,NaN
935,2010_IDAHO,IDAHO,2010,266613.0,2177999.0,444112.0,1231537.0,502350.0,2098737.0,1159932.0,...,21575.0,20588.0,19362.0,171179.0,81715.0,254715.0,NaN,NaN,NaN,NaN
936,2010_ILLINOIS,ILLINOIS,2010,2098401.0,28253620.0,3809939.0,8696107.0,15747574.0,28560306.0,14668228.0,...,153781.0,154293.0,146953.0,1230308.0,636861.0,1945429.0,NaN,NaN,NaN,NaN
937,2010_INDIANA,INDIANA,2010,1026053.0,14023240.0,1477561.0,7342841.0,5202838.0,11502534.0,5746633.0,...,82387.0,79790.0,74836.0,640997.0,317818.0,970467.0,NaN,NaN,NaN,NaN
938,2010_IOWA,IOWA,2010,491255.0,5744872.0,728361.0,2217889.0,2798622.0,5941449.0,2970150.0,...,35071.0,35263.0,37704.0,281595.0,147663.0,456469.0,NaN,NaN,NaN,NaN
939,2010_KANSAS,KANSAS,2010,471406.0,5454128.0,673692.0,2860999.0,1919437.0,5979429.0,2837948.0,...,35991.0,34220.0,33180.0,285250.0,139505.0,442073.0,NaN,NaN,NaN,NaN
940,2010_KENTUCKY,KENTUCKY,2010,679901.0,6881951.0,1059915.0,3662243.0,2159793.0,7092071.0,3616584.0,...,51189.0,48525.0,43723.0,404656.0,192661.0,621577.0,NaN,NaN,NaN,NaN
941,2010_LOUISIANA,LOUISIANA,2010,663802.0,8091029.0,1549575.0,3348043.0,3193411.0,8125021.0,4136550.0,...,58778.0,49523.0,38438.0,428333.0,184292.0,642282.0,NaN,NaN,NaN,NaN
942,2010_MAINE,MAINE,2010,187634.0,2721365.0,320917.0,1083913.0,1316535.0,2680693.0,1421800.0,...,13728.0,14358.0,15315.0,110863.0,60148.0,175258.0,NaN,NaN,NaN,NaN
943,2010_MARYLAND,MARYLAND,2010,848252.0,13327770.0,1004498.0,5544725.0,6778547.0,13205691.0,7147880.0,...,60765.0,61971.0,60555.0,496075.0,264055.0,789507.0,NaN,NaN,NaN,NaN
944,2010_MASSACHUSETTS,MASSACHUSETTS,2010,929569.0,14919763.0,1092892.0,5742989.0,8083882.0,14857823.0,8479433.0,...,71140.0,71588.0,67716.0,570283.0,289161.0,887191.0,NaN,NaN,NaN,NaN
945,2010_MICHIGAN,MICHIGAN,2010,1510716.0,19393461.0,2383817.0,9694417.0,7315227.0,19967017.0,9457233.0,...,115722.0,118831.0,122236.0,929231.0,508868.0,1466286.0,NaN,NaN,NaN,NaN
946,2010_MINNESOTA,MINNESOTA,2010,799615.0,10383935.0,1245368.0,5978487.0,3160080.0,10564774.0,5676045.0,...,61627.0,61706.0,73661.0,492597.0,268074.0,775076.0,NaN,NaN,NaN,NaN
947,2010_MISSISSIPPI,MISSISSIPPI,2010,491651.0,4466377.0,945973.0,2109089.0,1411315.0,4504257.0,2337184.0,...,38295.0,36113.0,29668.0,303722.0,136277.0,443446.0,NaN,NaN,NaN,NaN
948,2010_MISSOURI,MISSOURI,2010,897348.0,9587703.0,1430854.0,3471772.0,4685077.0,10139784.0,5237387.0,...,68313.0,66944.0,65990.0,545120.0,275719.0,849334.0,NaN,NaN,NaN,NaN
949,2010_MONTANA,MONTANA,2010,141693.0,1623971.0,256049.0,744931.0,622991.0,1642886.0,895727.0,...,10751.0,10729.0,10316.0,86025.0,43202.0,130578.0,NaN,NaN,NaN,NaN
950,2010_NEBRASKA,NEBRASKA,2010,294948.0,3720560.0,465728.0,1184996.0,2069836.0,3640199.0,2089854.0,...,21901.0,20875.0,22236.0,174225.0,88208.0,275089.0,NaN,NaN,NaN,NaN
951,2010_NEVADA,NEVADA,2010,423859.0,4262471.0,358496.0,2341891.0,1562084.0,4260869.0,2117135.0,...,34047.0,33070.0,29207.0,269773.0,129831.0,404048.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,2017_MASSACHUSETTS,MASSACHUSETTS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,249.102674,297.042225,235.699697,267.250533
1463,2017_MICHIGAN,MICHIGAN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,235.555473,279.505455,217.753242,277.782589
1464,2017_MINNESOTA,MINNESOTA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,248.804303,293.962376,224.538513,265.468928
1465,2017_MISSISSIPPI,MISSISSIPPI,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,234.694193,270.914908,215.203306,268.616822
1466,2017_MISSOURI,MISSOURI,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,239.502289,280.596022,222.681081,256.344701
1467,2017_MONTANA,MONTANA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.721634,285.600437,222.326722,266.035007
1468,2017_NEBRASKA,NEBRASKA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,245.590675,288.405955,224.096225,267.208219
1469,2017_NEVADA,NEVADA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,231.685162,275.365456,214.841696,268.528555
1470,2017_NEW_HAMPSHIRE,NEW_HAMPSHIRE,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,245.319839,293.290654,228.900649,259.806407
1471,2017_NEW_JERSEY,NEW_JERSEY,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.855231,291.698552,232.943318,274.786040
1472,2017_NEW_MEXICO,NEW_MEXICO,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,229.704282,269.374084,207.704354,275.044552
1473,2017_NEW_YORK,NEW_YORK,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,235.548457,281.688000,221.884015,255.578543
1474,2017_NORTH_CAROLINA,NORTH_CAROLINA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.951393,281.926028,223.930906,264.157584
1475,2017_NORTH_DAKOTA,NORTH_DAKOTA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,244.243515,288.172322,221.519266,262.720477
1476,2017_OHIO,OHIO,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.928372,287.714266,225.261138,265.081922
1477,2017_OKLAHOMA,OKLAHOMA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,237.326270,274.688883,216.587775,268.450642
1478,2017_OREGON,OREGON,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,233.132460,282.173028,217.531073,261.236934
1479,2017_PENNSYLVANIA,PENNSYLVANIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,241.672327,286.393832,224.924702,266.216684
1480,2017_RHODE_ISLAND,RHODE_ISLAND,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,237.554934,277.180126,223.353443,269.553823
1481,2017_SOUTH_CAROLINA,SOUTH_CAROLINA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,234.043993,274.673821,213.127835,265.767860
1482,2017_SOUTH_DAKOTA,SOUTH_DAKOTA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,241.588947,286.376160,221.750123,259.753002
1483,2017_TENNESSEE,TENNESSEE,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,236.692515,278.777735,218.952797,267.355727
1484,2017_TEXAS,TEXAS,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.943671,282.320510,214.878493,262.046853
1485,2017_UTAH,UTAH,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,242.480766,286.816559,225.159173,260.342577
1486,2017_VERMONT,VERMONT,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.893297,287.623388,226.445343,268.752420
1487,2017_VIRGINIA,VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,248.041059,290.081407,227.598382,273.402640
1488,2017_WASHINGTON,WASHINGTON,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,241.701001,289.131257,223.123409,267.744778
1489,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,236.057019,273.415854,217.316396,271.617023
1490,2017_WISCONSIN,WISCONSIN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.389213,288.143144,219.612694,258.700304
1491,2017_WYOMING,WYOMING,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.820619,288.761812,226.831211,269.371456

In [146]:
pop_file="Resources/state population dataset.csv"
population=pd.read_csv(pop_file, skiprows=1, skipfooter=7, engine="python")
population["State"].replace(to_replace="\.", value="", regex=True, inplace=True)
population.head()

,State,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Alabama,"4,785,448","4,798,834","4,815,564","4,830,460","4,842,481","4,853,160","4,864,745","4,875,120","4,887,871"
1,Alaska,"713,906","722,038","730,399","737,045","736,307","737,547","741,504","739,786","737,438"
2,Arizona,"6,407,774","6,473,497","6,556,629","6,634,999","6,733,840","6,833,596","6,945,452","7,048,876","7,171,646"
3,Arkansas,"2,921,978","2,940,407","2,952,109","2,959,549","2,967,726","2,978,407","2,990,410","3,002,997","3,013,825"
4,California,"37,320,903","37,641,823","37,960,782","38,280,824","38,625,139","38,953,142","39,209,127","39,399,349","39,557,045"

In [150]:
def transform_dataframe(old_dataframe,column_name):
    old_dataframe["State"].replace(to_replace=" ", value="_", regex=True, inplace=True)
    old_dataframe["State"]=old_dataframe["State"].str.upper()
    trf_old_df=old_dataframe.set_index(["State"])
    PRIMARY_KEY=[]
    column_list=[]
    for row in trf_old_df.index:
        for column in trf_old_df.columns:
            PRIMARY_KEY.append(f"{column}_{row}")
            column_list.append(trf_old_df.loc[row,column])
    new_df=pd.DataFrame(index=PRIMARY_KEY,data=column_list, columns=[column_name])
    return new_df

In [151]:
transform_dataframe(population,"TOTAL_POPULATION")

                   TOTAL_POPULATION
2010_ALABAMA              4,785,448
2011_ALABAMA              4,798,834
2012_ALABAMA              4,815,564
2013_ALABAMA              4,830,460
2014_ALABAMA              4,842,481
2015_ALABAMA              4,853,160
2016_ALABAMA              4,864,745
2017_ALABAMA              4,875,120
2018_ALABAMA              4,887,871
2010_ALASKA                 713,906
2011_ALASKA                 722,038
2012_ALASKA                 730,399
2013_ALASKA                 737,045
2014_ALASKA                 736,307
2015_ALASKA                 737,547
2016_ALASKA                 741,504
2017_ALASKA                 739,786
2018_ALASKA                 737,438
2010_ARIZONA              6,407,774
2011_ARIZONA              6,473,497
2012_ARIZONA              6,556,629
2013_ARIZONA              6,634,999
2014_ARIZONA              6,733,840
2015_ARIZONA              6,833,596
2016_ARIZONA              6,945,452
2017_ARIZONA              7,048,876
2018_ARIZONA              7,171,646
2010_ARKANSAS             2,921,978
2011_ARKANSAS             2,940,407
2012_ARKANSAS             2,952,109
...                             ...
2016_WASHINGTON           7,294,680
2017_WASHINGTON           7,425,432
2018_WASHINGTON           7,535,591
2010_WEST_VIRGINIA        1,854,214
2011_WEST_VIRGINIA        1,856,074
2012_WEST_VIRGINIA        1,856,764
2013_WEST_VIRGINIA        1,853,873
2014_WEST_VIRGINIA        1,849,467
2015_WEST_VIRGINIA        1,841,996
2016_WEST_VIRGINIA        1,830,929
2017_WEST_VIRGINIA        1,817,048
2018_WEST_VIRGINIA        1,805,832
2010_WISCONSIN            5,690,479
2011_WISCONSIN            5,704,755
2012_WISCONSIN            5,719,855
2013_WISCONSIN            5,736,952
2014_WISCONSIN            5,751,974
2015_WISCONSIN            5,761,406
2016_WISCONSIN            5,772,958
2017_WISCONSIN            5,792,051
2018_WISCONSIN            5,813,568
2010_WYOMING                564,483
2011_WYOMING                567,224
2012_WYOMING                576,270
2013_WYOMING                582,123
2014_WYOMING                582,548
2015_WYOMING                585,668
2016_WYOMING                584,290
2017_WYOMING                578,934
2018_WYOMING                577,737

[459 rows x 1 columns]

In [144]:
wiki_url="https://en.m.wikipedia.org/wiki/List_of_U.S._states_by_GDP_per_capita"
gdp_per_capita=pd.read_html(wiki_url, header=0)[0]
gdp_per_capita.drop(columns=["Rank"],inplace=True)
gdp_per_capita["State"].replace(to_replace=" ", value="_", regex=True, inplace=True)
gdp_per_capita["State"]=gdp_per_capita["State"].str.upper()
gdp_per_capita

,State,2018,2017,2016,2015,2014,2013,2012,2011
0,DISTRICT_OF_COLUMBIA,160472,159227,159395,159497,163274,166870,168030,166178
1,MASSACHUSETTS,65545,64507,62510,61882,62456,61769,60808,59178
2,NEW_YORK,64579,64093,63420,62444,62841,61185,61267,59481
3,CONNECTICUT,64511,63747,62236,62550,63502,63638,64906,65574
4,ALASKA,63971,67705,67411,69700,73478,70573,69564,72204
5,DELAWARE,63664,64040,63271,60719,62174,63793,62837,64313
6,NORTH_DAKOTA,62837,67305,71056,67651,68105,57066,52185,48858
7,WYOMING,58821,60908,61417,60770,60777,63985,64603,66320
8,CALIFORNIA,53987,57328,55374,53855,52974,52099,51871,51733
9,NEW_JERSEY,57084,56472,55635,55750,55161,54302,55023,55067
10,WASHINGTON,56831,55780,55001,54161,53439,52500,52679,52264
11,MARYLAND,55404,54894,54003,53765,54018,54209,53675,52515
12,ILLINOIS,54091,53432,52795,51963,52172,51198,50304,49859
13,TEXAS,53795,54421,52993,52018,50266,48354,47417,47034
14,MINNESOTA,53704,53380,53005,51999,51272,50875,50148,48884
15,NEBRASKA,53114,52878,53099,51565,50631,51360,49569,47973
16,COLORADO,52795,52622,52019,50475,49639,49285,49254,49731
17,NEW_HAMPSHIRE,51794,50456,49480,48871,48652,48504,48388,47265
18,VIRGINIA,51736,51716,50803,51106,51546,51754,51946,51389
19,HAWAII,51277,50320,49497,49539,49513,49331,49418,48549
20,PENNSYLVANIA,50997,50418,49155,48278,47540,46872,46387,45312
21,OREGON,50582,49792,48342,48094,49395,51266,49601,47530
22,UNITED_STATES,50577,50155,49253,48538,48173,47595,47287,46680
23,IOWA,50315,50086,49218,48002,48001,46523,45884,45195
24,SOUTH_DAKOTA,48076,47706,46776,46869,46965,47972,45605,45457
25,RHODE_ISLAND,47639,47118,46668,46356,46188,46010,46332,45280
26,OHIO,47567,46826,46385,45254,44896,44192,42667,41593
27,WISCONSIN,47266,46859,46340,45845,45382,44906,44126,43215
28,KANSAS,46982,46890,46003,45470,45514,45476,44243,43770
29,INDIANA,45317,44797,44577,43866,43064,43058,42996,40572
30,GEORGIA,44723,43913,43313,42500,42191,42140,42029,42052
31,UTAH,44636,44204,43069,42267,41929,41992,41500,41563
32,OKLAHOMA,44623,45864,45007,43288,41861,39961,38303,38640
33,NORTH_CAROLINA,44325,44096,43372,42945,42659,43223,43141,43160
34,VERMONT,43946,43495,43039,42914,43042,43124,42170,40855
35,LOUISIANA,43917,44293,44254,43725,45482,45712,48599,46949
36,NEVADA,43820,43649,42927,43075,43382,44555,44589,44774
37,MICHIGAN,43372,42631,41514,40993,40463,39757,38763,36676
38,MISSOURI,43317,42943,42442,42487,41926,41598,42204,42012
39,TENNESSEE,43267,42797,41828,41487,41091,40193,39370,39096
40,NEW_MEXICO,41348,41577,40842,39659,40094,40167,40297,40670
41,FLORIDA,39543,39093,38398,38023,37705,37876,38604,38695
42,MONTANA,39356,39686,39214,38476,38537,38542,37733,36667
43,KENTUCKY,38985,38603,38298,38247,38052,37926,37579,36209
44,MAINE,38921,38450,38014,37477,37705,37780,38352,37910
45,ARIZONA,38590,38414,38427,38303,38559,38257,37935,38232
46,ALABAMA,37261,36856,36538,36660,36425,36201,35913,35376
47,SOUTH_CAROLINA,37063,36796,36295,35701,35346,35609,35126,34955
48,ARKANSAS,36368,36196,36249,35865,34965,35146,34671,33837
49,WEST_VIRGINIA,36315,36453,36161,35755,35509,36084,35368,34564
50,IDAHO,35466,35467,35099,34748,34094,34270,34620,34664
51,MISSISSIPPI,31881,31633,31522,31923,31786,31167,31688,31658

In [ ]:
transform_dataframe(population,"TOTAL_POPULATION")

In [148]:
def transform_dataframe(old_dataframe,column_name):
    old_dataframe["State"].replace(to_replace=" ", value="_", regex=True, inplace=True)
    old_dataframe["State"]=old_dataframe["State"].str.upper()
    trf_old_df=old_dataframe.set_index(["State"])
    PRIMARY_KEY=[]
    column_list=[]
#
    for row in trf_old_df.index:
        for column in trf_old_df.columns:
            PRIMARY_KEY.append(f"{column}_{row}")
            column_list.append(trf_old_df.loc[row,column])
    new_df=pd.DataFrame(index=PRIMARY_KEY,data=column_list, columns=[column_name])
    return new_df

In [152]:
transform_dataframe(gdp_per_capita,"GDP_PER_CAPITA")

                           GDP_PER_CAPITA
2018_DISTRICT_OF_COLUMBIA          160472
2017_DISTRICT_OF_COLUMBIA          159227
2016_DISTRICT_OF_COLUMBIA          159395
2015_DISTRICT_OF_COLUMBIA          159497
2014_DISTRICT_OF_COLUMBIA          163274
2013_DISTRICT_OF_COLUMBIA          166870
2012_DISTRICT_OF_COLUMBIA          168030
2011_DISTRICT_OF_COLUMBIA          166178
2018_MASSACHUSETTS                  65545
2017_MASSACHUSETTS                  64507
2016_MASSACHUSETTS                  62510
2015_MASSACHUSETTS                  61882
2014_MASSACHUSETTS                  62456
2013_MASSACHUSETTS                  61769
2012_MASSACHUSETTS                  60808
2011_MASSACHUSETTS                  59178
2018_NEW_YORK                       64579
2017_NEW_YORK                       64093
2016_NEW_YORK                       63420
2015_NEW_YORK                       62444
2014_NEW_YORK                       62841
2013_NEW_YORK                       61185
2012_NEW_YORK                       61267
2011_NEW_YORK                       59481
2018_CONNECTICUT                    64511
2017_CONNECTICUT                    63747
2016_CONNECTICUT                    62236
2015_CONNECTICUT                    62550
2014_CONNECTICUT                    63502
2013_CONNECTICUT                    63638
...                                   ...
2016_ARKANSAS                       36249
2015_ARKANSAS                       35865
2014_ARKANSAS                       34965
2013_ARKANSAS                       35146
2012_ARKANSAS                       34671
2011_ARKANSAS                       33837
2018_WEST_VIRGINIA                  36315
2017_WEST_VIRGINIA                  36453
2016_WEST_VIRGINIA                  36161
2015_WEST_VIRGINIA                  35755
2014_WEST_VIRGINIA                  35509
2013_WEST_VIRGINIA                  36084
2012_WEST_VIRGINIA                  35368
2011_WEST_VIRGINIA                  34564
2018_IDAHO                          35466
2017_IDAHO                          35467
2016_IDAHO                          35099
2015_IDAHO                          34748
2014_IDAHO                          34094
2013_IDAHO                          34270
2012_IDAHO                          34620
2011_IDAHO                          34664
2018_MISSISSIPPI                    31881
2017_MISSISSIPPI                    31633
2016_MISSISSIPPI                    31522
2015_MISSISSIPPI                    31923
2014_MISSISSIPPI                    31786
2013_MISSISSIPPI                    31167
2012_MISSISSIPPI                    31688
2011_MISSISSIPPI                    31658

[416 rows x 1 columns]