# ETL Project

## Dataset 1: Population
This dataset was downloaded from https://www.census.gov/data/datasets/time-series/demo/popest/2010s-state-total.html

## Dataset 2: Us Education
This dataset was downloaded from https://www.kaggle.com/noriuk/us-education-datasets-unification-project/ 

## Dataset 3: GDP Per state
This was web scraped from the wikipedia page https://en.m.wikipedia.org/wiki/List_of_U.S._states_by_GDP_per_capita

In [236]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

from creds import username,password

In [199]:
#Reading the school data file
file="./Resources/states_all.csv"
school_data=pd.read_csv(file,index_col=0)
school_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1492 entries, 1992_ALABAMA to 2017_WYOMING
Data columns (total 24 columns):
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 291.4+ KB

In [185]:
school_data.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
PRIMARY_KEY,,,,,,,,,,,,,,,,,,,,,
1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

In [241]:
#Removing years between 2011 and 2016
trimmed_school=school_data.loc[school_data["YEAR"]>=2011]
trimmed_school=trimmed_school.loc[trimmed_school["YEAR"]<=2016]
#Keep only the 50 states and DC
states_to_limit=["ALABAMA","ALASKA","ARIZONA","ARKANSAS","CALIFORNIA","COLORADO",
                 "CONNECTICUT","DELAWARE","DISTRICT_OF_COLUMBIA","FLORIDA","GEORGIA",
                 "HAWAII","IDAHO","ILLINOIS","INDIANA","IOWA","KANSAS","KENTUCKY","LOUISIANA",
                 "MAINE","MARYLAND","MASSACHUSETTS","MICHIGAN","MINNESOTA","MISSISSIPPI","MISSOURI",
                 "MONTANA","NEBRASKA","NEVADA","NEW_HAMPSHIRE","NEW_JERSEY","NEW_MEXICO","NEW_YORK",
                 "NORTH_CAROLINA","NORTH_DAKOTA","OHIO","OKLAHOMA","OREGON","PENNSYLVANIA","RHODE_ISLAND",
                 "SOUTH_CAROLINA","SOUTH_DAKOTA","TENNESSEE","TEXAS","UTAH","VERMONT","VIRGINIA","WASHINGTON",
                 "WEST_VIRGINIA","WISCONSIN","WYOMING"]
trimmed_school=trimmed_school.loc[trimmed_school["STATE"].isin(states_to_limit)]
trimmed_school.info()

<class 'pandas.core.frame.DataFrame'>
Index: 306 entries, 2011_ALABAMA to 2016_WYOMING
Data columns (total 24 columns):
STATE                           306 non-null object
YEAR                            306 non-null int64
ENROLL                          306 non-null float64
TOTAL_REVENUE                   306 non-null float64
FEDERAL_REVENUE                 306 non-null float64
STATE_REVENUE                   306 non-null float64
LOCAL_REVENUE                   306 non-null float64
TOTAL_EXPENDITURE               306 non-null float64
INSTRUCTION_EXPENDITURE         306 non-null float64
SUPPORT_SERVICES_EXPENDITURE    306 non-null float64
OTHER_EXPENDITURE               306 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      306 non-null float64
GRADES_PK_G                     253 non-null float64
GRADES_KG_G                     255 non-null float64
GRADES_4_G                      255 non-null float64
GRADES_8_G                      255 non-null float64
GRADES_12_G                     255 non-null float64
GRADES_1_8_G                    255 non-null float64
GRADES_9_12_G                   255 non-null float64
GRADES_ALL_G                    253 non-null float64
AVG_MATH_4_SCORE                153 non-null float64
AVG_MATH_8_SCORE                153 non-null float64
AVG_READING_4_SCORE             153 non-null float64
AVG_READING_8_SCORE             153 non-null float64
dtypes: float64(22), int64(1), object(1)
memory usage: 59.8+ KB

In [242]:
# Drop the student population and test scores as scores are only on odd years and pop data is incomplete
for i in range(23,11,-1):
    trimmed_school.drop(trimmed_school.columns[i], axis=1, inplace=True)

trimmed_school.info()

<class 'pandas.core.frame.DataFrame'>
Index: 306 entries, 2011_ALABAMA to 2016_WYOMING
Data columns (total 12 columns):
STATE                           306 non-null object
YEAR                            306 non-null int64
ENROLL                          306 non-null float64
TOTAL_REVENUE                   306 non-null float64
FEDERAL_REVENUE                 306 non-null float64
STATE_REVENUE                   306 non-null float64
LOCAL_REVENUE                   306 non-null float64
TOTAL_EXPENDITURE               306 non-null float64
INSTRUCTION_EXPENDITURE         306 non-null float64
SUPPORT_SERVICES_EXPENDITURE    306 non-null float64
OTHER_EXPENDITURE               306 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      306 non-null float64
dtypes: float64(10), int64(1), object(1)
memory usage: 31.1+ KB

## Population Dataset from US Census Data

In [159]:
# read the file and skip the first row and the last 7
pop_file="Resources/state population dataset.csv"
population=pd.read_csv(pop_file, skiprows=1, skipfooter=7, engine="python")

# MAke the states capital no spaces like school data
population["State"].replace(to_replace="\.", value="", regex=True, inplace=True)
# Drop years of data where school data or GDP data is incomplete
population.drop(columns=['2010', '2017','2018'], inplace=True)
population.head()

,State,2011,2012,2013,2014,2015,2016
0,Alabama,"4,798,834","4,815,564","4,830,460","4,842,481","4,853,160","4,864,745"
1,Alaska,"722,038","730,399","737,045","736,307","737,547","741,504"
2,Arizona,"6,473,497","6,556,629","6,634,999","6,733,840","6,833,596","6,945,452"
3,Arkansas,"2,940,407","2,952,109","2,959,549","2,967,726","2,978,407","2,990,410"
4,California,"37,641,823","37,960,782","38,280,824","38,625,139","38,953,142","39,209,127"

## Create Transform Funcion For use of mulitple datasets

This transform was created for both the census data and the GDP data.

In [249]:
def transform_dataframe(old_dataframe,column_name):
    # Replace the space with an underscore and make it upppercase
    old_dataframe["State"].replace(to_replace=" ", value="_", regex=True, inplace=True)
    old_dataframe["State"]=old_dataframe["State"].str.upper()
    #Set the index to the states
    trf_old_df=old_dataframe.set_index(["State"])
    # make blank lists for the loop
    PRIMARY_KEY=[]
    column_list=[]
    # Append to the list the primary key and loop
    for row in trf_old_df.index:
        for column in trf_old_df.columns:
            PRIMARY_KEY.append(f"{column}_{row}")
            column_list.append(trf_old_df.loc[row,column])
    new_df=pd.DataFrame(index=PRIMARY_KEY,data=column_list, columns=[column_name])
    # Name the index PRIMARY_KEY
    new_df.index.names = ['PRIMARY_KEY']
    # return the new dataframe
    return new_df

## Run the transform function on the population data

In [250]:
population_final=transform_dataframe(population,"TOTAL_POPULATION")
population_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 306 entries, 2011_ALABAMA to 2016_WYOMING
Data columns (total 1 columns):
TOTAL_POPULATION    306 non-null object
dtypes: object(1)
memory usage: 4.8+ KB

## Web scrape the GDP data from wikipedia

In [251]:
wiki_url="https://en.m.wikipedia.org/wiki/List_of_U.S._states_by_GDP_per_capita"
gdp_per_capita=pd.read_html(wiki_url, header=0)[0]

#Limit the columns to the appropriate year and drop rank
gdp_per_capita.drop(columns=["Rank","2018", "2017"],inplace=True)
#Drop the row for united states
gdp_per_capita=gdp_per_capita.loc[gdp_per_capita["State"]!="United States"]
# Replace the space with an underscore and make it upppercase
gdp_per_capita["State"].replace(to_replace=" ", value="_", regex=True, inplace=True)
gdp_per_capita["State"]=gdp_per_capita["State"].str.upper()
gdp_per_capita

                   State    2016    2015    2014    2013    2012    2011
0   DISTRICT_OF_COLUMBIA  159395  159497  163274  166870  168030  166178
1          MASSACHUSETTS   62510   61882   62456   61769   60808   59178
2               NEW_YORK   63420   62444   62841   61185   61267   59481
3            CONNECTICUT   62236   62550   63502   63638   64906   65574
4                 ALASKA   67411   69700   73478   70573   69564   72204
5               DELAWARE   63271   60719   62174   63793   62837   64313
6           NORTH_DAKOTA   71056   67651   68105   57066   52185   48858
7                WYOMING   61417   60770   60777   63985   64603   66320
8             CALIFORNIA   55374   53855   52974   52099   51871   51733
9             NEW_JERSEY   55635   55750   55161   54302   55023   55067
10            WASHINGTON   55001   54161   53439   52500   52679   52264
11              MARYLAND   54003   53765   54018   54209   53675   52515
12              ILLINOIS   52795   51963   52172   51198   50304   49859
13                 TEXAS   52993   52018   50266   48354   47417   47034
14             MINNESOTA   53005   51999   51272   50875   50148   48884
15              NEBRASKA   53099   51565   50631   51360   49569   47973
16              COLORADO   52019   50475   49639   49285   49254   49731
17         NEW_HAMPSHIRE   49480   48871   48652   48504   48388   47265
18              VIRGINIA   50803   51106   51546   51754   51946   51389
19                HAWAII   49497   49539   49513   49331   49418   48549
20          PENNSYLVANIA   49155   48278   47540   46872   46387   45312
21                OREGON   48342   48094   49395   51266   49601   47530
23                  IOWA   49218   48002   48001   46523   45884   45195
24          SOUTH_DAKOTA   46776   46869   46965   47972   45605   45457
25          RHODE_ISLAND   46668   46356   46188   46010   46332   45280
26                  OHIO   46385   45254   44896   44192   42667   41593
27             WISCONSIN   46340   45845   45382   44906   44126   43215
28                KANSAS   46003   45470   45514   45476   44243   43770
29               INDIANA   44577   43866   43064   43058   42996   40572
30               GEORGIA   43313   42500   42191   42140   42029   42052
31                  UTAH   43069   42267   41929   41992   41500   41563
32              OKLAHOMA   45007   43288   41861   39961   38303   38640
33        NORTH_CAROLINA   43372   42945   42659   43223   43141   43160
34               VERMONT   43039   42914   43042   43124   42170   40855
35             LOUISIANA   44254   43725   45482   45712   48599   46949
36                NEVADA   42927   43075   43382   44555   44589   44774
37              MICHIGAN   41514   40993   40463   39757   38763   36676
38              MISSOURI   42442   42487   41926   41598   42204   42012
39             TENNESSEE   41828   41487   41091   40193   39370   39096
40            NEW_MEXICO   40842   39659   40094   40167   40297   40670
41               FLORIDA   38398   38023   37705   37876   38604   38695
42               MONTANA   39214   38476   38537   38542   37733   36667
43              KENTUCKY   38298   38247   38052   37926   37579   36209
44                 MAINE   38014   37477   37705   37780   38352   37910
45               ARIZONA   38427   38303   38559   38257   37935   38232
46               ALABAMA   36538   36660   36425   36201   35913   35376
47        SOUTH_CAROLINA   36295   35701   35346   35609   35126   34955
48              ARKANSAS   36249   35865   34965   35146   34671   33837
49         WEST_VIRGINIA   36161   35755   35509   36084   35368   34564
50                 IDAHO   35099   34748   34094   34270   34620   34664
51           MISSISSIPPI   31522   31923   31786   31167   31688   31658

## Transform the GDP Per Capita data

In [252]:
# Transform the GDP scrape using the previous function
gdp_final=transform_dataframe(gdp_per_capita,"GDP_PER_CAPITA")
gdp_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 306 entries, 2016_DISTRICT_OF_COLUMBIA to 2011_MISSISSIPPI
Data columns (total 1 columns):
GDP_PER_CAPITA    306 non-null int64
dtypes: int64(1)
memory usage: 4.8+ KB

## Now we're all ready to join the dataframes!

In [257]:
# Merge the dataframes on the year_state concatonation
final_df=trimmed_school.merge(population_final, on="PRIMARY_KEY")
final_df=final_df.merge(gdp_final, on="PRIMARY_KEY")

In [275]:
# Drop the index as it's not needed after the merge
final_df.reset_index(drop=True, inplace=True)
final_df.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,TOTAL_POPULATION,GDP_PER_CAPITA
0,ALABAMA,2011,746933.0,7376725.0,1077070.0,3965614.0,2334041.0,7411768.0,3844055.0,2295909.0,559140.0,564183.0,"4,798,834",35376
1,ALASKA,2011,131704.0,2357828.0,420152.0,1416163.0,521513.0,2443898.0,1215062.0,908567.0,81031.0,180137.0,"722,038",72204
2,ARIZONA,2011,946571.0,8429186.0,1245814.0,3054501.0,4128871.0,8610417.0,3977772.0,2935127.0,350633.0,741124.0,"6,473,497",38232
3,ARKANSAS,2011,475551.0,5176362.0,827026.0,3701224.0,648112.0,5669431.0,2559292.0,1655684.0,676591.0,605857.0,"2,940,407",33837
4,CALIFORNIA,2011,6202604.0,70953331.0,9990221.0,37752712.0,23210398.0,69847705.0,34225248.0,20266047.0,3486160.0,6523770.0,"37,641,823",51733

## Connect to mySQL db

Before this was run, we created the DB on the mySQL server with the following command:
create database ETL_project;

In [271]:
# Set up the connection
engine=create_engine(f"mysql://{username}:{password}@localhost:3306/ETL_Project")

In [276]:
# Post the data
final_df.to_sql(name="ETL", con=engine, if_exists="replace")